{% extends "Community/base.html" %}
{% load static %}
{% block title %}Events - Home{% endblock %}
{% block more_css %}
    <link rel="stylesheet" href="{% static "Community/style.css" %}">
{% endblock %}
{% block content %}
    <div class="mainBlock">
        <div class="fund-form">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="title" required />
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="desc" placeholder="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="time" name="time" placeholder="Event Time" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="duration" placeholder="Event Duration" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="date" placeholder="Event Date" required />
                </div>
                <div class="form-group">
                <select class="form-select" name="type" id="event_type">
                    <option  value="hackathon">Hackathon</option>
                    <option value="Seminar">Seminar</option>
                    <option value="Competition">Competition</option>
                    <option value="TED-Talk">TED-Talk</option>
                    <option value="other">Other</option>
                </select>
</div>
                <div class="form-group">
                    <button class="btn btn-info mt-3 mb-3" type="submit">Add Event</button>
                </div>
            </form>
        </div>
        <div class="active_funds">
            {% for event in upcoming_events %}
                <section class="fund-list">
                    <a href="{% url "comm-details" event.slug %}">
                        <h2>{{ event.title }}</h2>
                        <p>{{ event.event_description }}</p>
                        <p>{{ event.event_date }}</p>
                        <p>{{ event.type }}</p>
                        <p>No. of Attendees: {{ event.attendees }}</p>
                        <p>Status: <span class="text-info">{{ event.status }}</span></p>
                    </a>
                </section>
            {% endfor %}
        </div>
    </div>
        {% endblock %}
