{% extends "workStudy/base.html" %}
{% load static %}
{% block more_css %}
    <script src="{% static "workStudy/js/script.js" %}" defer></script>
    <link rel="stylesheet" href="{% static "workStudy/css/style.css" %}">
{% endblock %}
{% block content %}
<div class="container border-0">
    <span>FILTERS: </span>
    <div id="filterBtns"></div>
</div>
    <div id="listings" class="mt-4">
        {% if jobs %}
            {% for job in jobs %}
                <div class="Jobs">
                    <h2 >
                        <a class="text-info" href="{% url "ws-details" job.job_slug %}">{{ job.job_name }}</a>
                    </h2>
                    <p>{{ job.payment }}$</p>
                    <p>{{ job.job_category }}</p>
                    <p>{{ job.type }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No jobs Available</p>
    {% endif %}
{% endblock %}
