{% extends "workStudy/base.html" %}
{% block title %}{{ job.name }}{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>{{ job.job_name }}</p>
    <p>{{ job.job_description }}</p>
    <p>{{ job.payment }}</p>
    <p>{{ job.job_duration }} days</p>
    <p>{{ job.start_date }}</p>
    <p>{{ job.image }}</p>
    <p>{{ job.job_category }}</p>
    <p>{{ job.type }}</p>
    <p>{{ job.job_slug }}</p>
    <div>
        <form action="{% url "ws-details" job.job_slug %}" method="POST">
            {% csrf_token %}
            <button>Apply for this job</button>
        </form>
    </div>
{% endblock %}
