{% extends "crowdFunding/base.html" %}
<!-- {% load tz %} -->
{% block title %}{{ fund.title }}{% endblock %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Funding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Lend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="flipswitch">
                    <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" checked>
                    <label class="flipswitch-label" for="fs">
                        <div class="flipswitch-inner"></div>
                        <div class="flipswitch-switch"></div>
                    </label>
                </div>
            </div>

            <img src="avatar.png" alt="Avatar" class="avatar">
        </div>
    </nav>
</header>
<div class="all">
    <div class="details2 one">
        <p>{{ request.user }}</p>
        <p>{{ fund.title }}</p>
        <p>{{ fund.content }}</p>
        <p>{{ fund.goal }}</p>
        <p>{{ fund.amount_gained }}</p>
        <p>{{ fund.status }}</p>
        {{ fund.event_datetime }}

        <div>Ref id:{{ fund.id }}</div>
    </div>

    <form action="{% url 'cf-details' fund.slug %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="number" name="donation" placeholder="donation amount" required>
        </div>
        <button type="submit">Donate</button>
    </form>
</div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>